<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Регистрация</title>
</head>
<body>
<h1>Регистрация нового пользователя</h1>
<form th:action="@{/registration}" method="post">
    <div>
        <label> Логин: <input type="text" name="username" required/> </label>
    </div>
    <div>
        <label> Пароль: <input type="password" name="password" required/> </label>
    </div>
    <div>
        <input type="submit" value="Зарегистрироваться"/>
    </div>
</form>
<p>Уже зарегистрированы? <a th:href="@{/login}">Войти</a></p>
</body>
</html>